*{
    margin: 0;
    border: 0;
    font-family: "Mulish", sans-serif;
}

.nav{
    display: flex;
    margin: auto;
    margin-top: 45px;
    align-content: center;
    width: 1170px;
    height: 45px;
    justify-content: space-between;
}

.webite-name{
    display: flex;
    align-content: center;
    
}
.website-name img{
    width: 48 px;
    height: 56 px;
}
.webite-name>h1{
    color: #131318;
    margin-left: 16px;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.menu{
    width: 506px;
    height: 24px;
    display: inline-flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 44px;
}
.menu>a{
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

/* Banner */
.banner{
  
    width: 1170px;
    height: 500px;
    margin:auto;
    border-radius: 16px;
    margin-top: 3rem;

    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url("Images/Group\ 13\ \(1\)\ \(1\).png");


}
.banner h1{
    text-align: center;
    color: #FFF;
    padding-top: 106px;
    margin-bottom: 24px;
    font-family: Mulish;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner>p{
    color: #FFF;
    margin-bottom: 24px;
    text-align: center;
    font-family: Mulish;
    font-size: 1 rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.search{
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    margin-left: 185px;
    gap: 24px;
    margin-top: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.search>input,select{
    
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    text-indent: 16px ;
}

.search>select>option{
    color: rgba(19, 19, 24, 0.50);
    text-indent: 16px ;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.search>button{
  
width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}
.search>button>i{
    margin-right: 0.5rem;
}

/* popular text section  */
.popular{
    width: 1170px;
    height: 550px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  
    margin-top: 100px;
    justify-items: space-between;
    align-content: center;
    margin-bottom: 100px;
    
}
.popular-text{
    width: 100%;
    height:100%;
}

.popular-text h1{
    color: #131318;
    margin-bottom: 24px;
    text-align: left;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-text p{
    color: #5A5A5D;
    margin-bottom: 32px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.popular-text button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular img{
    width: 100%;
    margin-left:50px;   
    height: 100%;
}

/* choose your destination part  */
.destination{
    width: 1170px; 
    margin-left: auto;
    margin-right: auto;
}
.destination-text{
    width:100%;
  text-align: center;

   
}

.destination-text h1{
    color: #131318;
    margin-bottom: 24px;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.destination-text p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.destination-images{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 100px;
}

.image-row1{
    display: inline-flex;
    gap:24px;
}
.maldives{
    width: 573px;
    height: 300px;    
    border-radius: 16px;
    
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 5.png), lightgray 50%  ;  
    display: flex;
    justify-content:space-around;
    align-items: center;

    
}
.indonesia{
    width: 573px;
    height: 300px;    
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;  
    display: flex;
    justify-content:space-around;
    align-items: center;

    
}
.image-row2{
    display: inline-flex;
    gap:24px;
}
.srilanka{
    width: 374px;
    height: 286px;  
    background-size: ;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;  
   
    display: flex;
    justify-content:space-around;
    align-items: center;

    
}
.northamerica{
    width: 474px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;  
   
    display: flex;
    justify-content:space-around;
    align-items: center;

    
}
.kashmir{
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 9.png), lightgray 50%;  
   
    display: flex;
    justify-content:space-around;
    align-items: center;

    
}

.image-row3{
    display: inline-flex;
    gap:24px;
}

.bangladesh{
    width: 473px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;  
   
    display: flex;
    justify-content:space-around;
    align-items: center;

    
}

.bandarban{
    width: 673px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;  
   
    display: flex;
    justify-content:space-around;
    align-items: center;

    
}


.destination-images h2{
    color: #FFF;
    vertical-align: middle;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* why choose us  */

.choose{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.choose-text{
    width:100%;
    text-align: center; 
}
.choose-text h1{
    color: #131318;
    margin-bottom: 24px;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.choose-text p{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.choose-cards{
    display: flex;
    flex-direction: column;
    
    gap: 24px;
   

}
.cards-row1{
    display: flex;
    gap:24px;
    
    height: 284px;
    justify-content: space-between;
   
}

.row-card1{
    width: auto;
    height: auto;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
       
}
.row-card2{
    width: auto;
    height: auto; 
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.cards-row2{
    display: flex;
    
    
    height: 284px;
    justify-content: space-around;
    margin-bottom: 100px;
   
}
.row-card3{
    width: 573px;
    height: auto; 
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.row-card1 img,.row-card2 img,.row-card3 img{
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
    
}
.choose-cards h3{
    color: #131318;
    margin-bottom: 16px;
    
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-cards p{
    color: #5A5A5D;
    
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* newsletter */
.newsletter{
    width: 1170px;
    height: 422px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.subscribe{
    width: auto;
    height: auto;
        
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.subscribe h2{
    color: #131318;
    margin-bottom: 16px;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.subscribe p{
    color: #5A5A5D;
    margin-bottom: 24px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.subscribe hr{
    margin-bottom: 24px;
    width: 95%;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.subscribe input{
    width: 95%;
    height: 52px;
    text-indent: 20px;
    margin-bottom: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.subscribe button{
    border-radius: 8px;
    width: 95%;
    height: 52px;
    background: #FF5400;

    color: #FFF;

    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    cursor: pointer;
}

.newsletter-image{
    height: auto;
    width: 672px;
    background: url("Images/Rectangle\ 20.png"), lightgray 50% / cover no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: right;
  
}
.save{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 50px;
    margin-right: 10px;
   
}

.save p{
    color: #FFF;
    padding-top: 20px;
    margin-bottom: 4px;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.save h4{
    color: #FFF;

    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}






/* responsive design css */
@media screen and (max-width: 600px) {
    .nav{
        width:auto;
    }
    .webite-name{
        margin-left: 20px;
    }
    .webite-name>img{
       
    width: 28.724px;
    height: 33.516px;
    }

    .webite-name >h1{
        font-size: 22px;
    }

    .menu{
        display:none;
    }
    .banner{
        width: 335px;
        height: 483px;
    }
    .banner>h1{
        font-size: 22px;
        padding-top:32px;
    }
    .banner>p{
        margin-left: 1rem;
    }
    .search{
        width: 255px;
        height: 256px;
        display: flex;
        flex-direction: column;
        margin-left:24px;
        margin-right: 24px;
        margin-top: 0;
    }
    .search>input,select{
        width: 255px;
        height: 52px;

    }
    .search>button{
        width: 255px;
        height: 52px;
    }
    /* popular tours  */
    .popular{
        flex-direction: column;
        width: 335px;
        height: auto;
        margin-top: 24px;
        gap: 24px;
        margin-bottom: 24px;
    }
    .popular-text h1{
        font-size: 20px;
        margin-bottom:16px ;
    }
    .popular-text p{
        font-size: 14px;
        margin-bottom: 24px;

    }
    .popular img{
        margin: 0;
    }

    /* choose your destination */
    .destination{
        width: 335px;
        margin-bottom: 24px;
    }
    .destination-text h1{
        font-size: 20px;
        margin-bottom: 16px;
    
    }
    .destination-text p{
        width: 100%;
        font-size: 14px;
        margin-bottom: 16px;
        
    }

    .image-row1{
        display: flex;
        flex-direction: column;
        
    }
    .maldives,.indonesia,.srilanka,.northamerica,.kashmir,.bangladesh,.bandarban{
        width: 335px;
        height: 176px;
    }
    .image-row2{
        display: flex;
        flex-direction: column;
        
    }
    .image-row3{
        display: flex;
        flex-direction: column;
        
       
    }
    .destination-images{
        margin-bottom:0;
    }
    .destination-images h2{
        font-size: 20px;
       
    }

    .choose{
        
            width: 335px;
            margin-bottom: 24px;
        
    }
    .choose-text h1{
        font-size: 20px;
        text-align: center;

    }
    .choose-text p{
        font-size: 14px;
        width:309px;
        margin-bottom: 16px;
    }
    .cards-row1{
        flex-direction: column;
        width: 335px;
        height: auto;
       
       
    }

    .choose-cards{
        
    }
    .cards-row2{
        flex-direction: column;
    }
    .row-card1 img,.row-card2 img,.row-card3 img{
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
        
    }
    .choose-cards h3{
        font-size: 20px;
        
    }
    
    .choose-cards p{
       
        font-size: 14px;
        
    }

    .row-card1,.row-card2,.row-card3{
        width: 335px;
        height: 289px;
    }
}
